# Ignore root files not present in the image
/fusing.c

# Ignore compiled/generated artifacts in soal_2
*.o
*.bin
*.img
*.deb
/soal_2/bochslog.txt
/soal_2/build

# Ignore files inside osboot
/soal_1/osboot/*
!/soal_1/osboot/.gitkeep
